<%- include('partials/header') -%>

<main class="container">
    <div id="bio">
        <p>I built this fullstack web application to help myself and my coworkers. I found that it was proving very difficult to manage people and ensure that all of the documents got handed off properly. I was noticing missing information on important documents that needed to be sent off to different clients. With this application, I'm hoping to help us all ensure that all of our employees will have the documents they need to succeed out in the field.
        </p>
    </div>
    

<%- include('partials/footer') -%>
