<!-- <%- include('partials/header') -%>

<main class="container">
    <div id="bio">
        <p>I originally built this fullstack web application to help my company. I had been
            working as a staff geologist for quite some time,with a total of about 3 years. I was laid off during
            the pandemic due to the amount of work available. I found myself wanting something new, something that I 
            could not really do in my field, and that is collabortive with my teammates. I wanted to build, create,
            try new solutions to problems that we have. . . I was unable to do that. Through software engineering I 
            Was able to do just that.
        </p>
    </div>
    

<%- include('partials/footer') -%> -->
