
<%- include('partials/header') -%>
  <head><link rel="stylesheet" href="/css/calendar.css" /></head>
    <div class="container">
      
      <div class="calendar">
        <h3>Here is the monthly schedule!</h3>
        <div class="month">
          <i id="prevLeft" class="fas fa-angle-left prev"></i>
          <div class="date">
            <h1></h1>
            <p></p>
          </div>
          <i id="nextRight" class="fas fa-angle-right next"></i>
        </div>
        
        <div class="weekdays">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>
        <div class="days"></div>
        </div>
      </div>
    </div>
    <a href="/profile" class="col-3 btn btn-primary">Click this to go back to your profile!</a>
    

  <%- include('partials/footer') -%>