<%- include('partials/companyHeader') -%>
<div class="container">


  <div class="row mt-5">
      <div class="col-6">
          <div class="mt-5">
            <h2><%= company.name %></h2><a href="/company/subscriptionPage" class="btn btn-primary">Need to increase your project load?</a>
            <h3><%= company.companyId %></h3>

            
          </div>
        </div>  
  </div> 

</div>
    <div>
      <a href="/companyLogout" class="col-3 btn btn-primary mt-10">Logout</a>
    </div>



<%- include('partials/footer') -%>