<%- include('partials/header') -%>


    <main class="container">
        <section>
            <%= for (var i=0; i<=templates.length; i++) { %>
                if(templates.isOriginal===true){
                    <h4>templates.templateName</h4>
                }
            }
        </section>

        <div class="col-4">
            <a href="/template/createTemplatePage"  class="btn btn-primary">Back</a>
        </div>  


    </main>      

<%- include('partials/footer') -%>