<%- include('partials/header') -%>
<main class="container">
  <h1>Oops! Looks like we have an error. Im sorry about that!</h1>
  <span> Please contact the website administrator</span>
</main>
<%- include('partials/footer') -%>