<%- include('partials/header') -%>



<form action="/forgotPassword" method="PUT">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    <div id="emailHelp" class="form-text">If you have an account we can look up your account information.</div>
  </div>
  <div class="mb-3">
    <label for="newPassword" class="form-label">New Password</label>
    <input type="password" class="form-control" id="newPassword" name="newPassword">
  </div>
  <div class="mb-3">
      <label for="confirmNewPassword" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword">
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<%- include('partials/footer') -%>