<%- include('partials/header') -%>



<main class="container">
    <div class = 'row align-items-start'>
        <h1>Do you need help bringing your project management to a higher standard?</h1>
    </div>
    <br></br>


    <div class = 'row'>
        <div class = 'col-sm-9'>
            <h2>Management tools to help the business grow</h2>
                <div class = 'col-8 col-md-6'>
                    <p>This is an application that is perfect for any small construction company. With this, construction plans and documents will be available to everyone on the go.</p>
                </div>
            </div>
        </div>
    
    <div class = 'row'>
        <div class = 'col-sm-9'>
            <h2>More time to work on the things that matter.</h2>
                <div class = 'col-8 col-md-6'>
                    <p>This will free up managements time to keep each employee up to date with all of documents that are project specific. Leading everyone down a rabbit hole of productivity.</p>
                </div>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'col-sm-9'>
                <h2>No more time wasted for employees.</h2>
                    <div class = 'col-8 col-md-6'>
                        <p>Each employee will no longer need to wait to get the documents needed to do the job! Self reliance is key to success.</p>
                    </div>
                </div>
            </div>

    <div class='row align-items-center'>
        <h3>Are you ready?</h3>  
    </div>
</main>
    

<div class ='container'>
    <div class="row justify-content-around mt-5">
        
        <span>Existing User?</span>
        <a href="/login" class="col-3 btn btn-primary"> Login Here!</a>
        
        <span>Just starting out at a new company?</span>
        <a href="/signup" class="col-3 btn btn-primary"> Signup Here!</a>
    </div>
</div>


    

<%- include('partials/footer') -%>