<%- include('partials/header') -%>




  


<nav class="w-full flex justify-evenly">
              <ul  class=" w-full flex text-3xl md:text-base items-center py-8 md:flex md:flex-row justify-evenly fixed">
                <li class="text-green text-lg hover:text-gray dark:text-white cursor-pointer pt-10">
                    <a href="javascript:void(0)">What we Offer</a>
                </li>
                <li class="text-green text-lg hover:text-gray-800 dark:text-white cursor-pointer md:ml-10 pt-10 md:pt-0">
                    <a href="/about">Features</a>
                </li>
                <li class="text-green text-lg hover:text-gray-800 dark:text-white cursor-pointer md:ml-10 pt-10 md:pt-0">
                    <a href="javascript:void(0)">Contact</a>
                </li>
                <li class="text-green text-lg hover:text-gray-800 dark:text-white cursor-pointer md:ml-10 pt-10 md:pt-0">
                  <a href="/login">Login</a>
                </li>
                <li class="text-green text-lg hover:text-gray-800 dark:text-white cursor-pointer md:ml-10 pt-10 md:pt-0">
                    <div class="dropdown">
                        <button class="dropbtn" onclick="myFunction()">Dropdown
                          <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content" id="myDropdown">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                        </div> 
                </li>
              </ul>
</nav>


<div class="w-full px-6">
  <div class="mt-8 relative rounded-lg bg-indigo-700 container mx-auto flex flex-col items-center pt-12 sm:pt-24 pb-24 sm:pb-32 md:pb-48 lg:pb-56 xl:pb-64">
     
      <div class="w-11/12 sm:w-2/3 mb-5 sm:mb-10">
          
          <h1 class="text-4xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-center text-purple font-bold leading-tight">Keep your team on the same page</h1>
      </div>
      <div>
          <p>When projects ramp up and things get busy, its important to stay up to date.</p>
      </div>
      
      <div class="flex justify-center items-center mb-2 sm:mb-20">
          <a href="/signup" class="btn btn-primary">Get Started</a>
          <a href="/login" class="btn btn-primary m-5">Already signed up?</a>
      </div>
      
  </div>
</div>
<div>
    <div>
       <div
        class=""
        style="background-image: url(./img/construxLandingPagePicture.jpg); background-size: 45%; background-repeat: no-repeat;"
        >
            <ul>
                <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
                <i class="fa fa-paper-airplane fa-5x" aria-hidden="true"></i>
            </ul>
        </div>
      
    </div>


</div>

    

<%- include('partials/footer') -%>