<%- include('partials/header') -%>


<nav>
              <ul class="menu">
                  <li><a href="./about.ejs">Company</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                  <li class="sign"><a href="/signup" >Get Started</a></li>
                  <li class="sign"><a href="/login" >Already signed up?</a></li>
              </ul>
</nav>

<main>
    <section class="background">
        <h1>Construx</h1>
        <span>Keep your team on the same page</span>
    </section>
    <section>
        <p>When projects ramp up and things get busy, its important to stay up to date.</p>
    </section>
    <section class="grid-container">
        <div class="grid-item">
            <i class="fa fa-users" aria-hidden="true"></i><span class="gridSpan">Have all of your users stay up to date with project tasks</span>
        </div>
        <div class="grid-item">
            <i class="fa fa-file" aria-hidden="true"></i><span class="gridSpan">Give your employees the ease of access with one-click file downloads</span>
        </div>
        <div class="grid-item">
            <i class="fa fa-check-square" aria-hidden="true"></i><span class="gridSpan">Checklists to stay on track with your objectives in the field</span>
        </div>
        <div class="grid-item">
            <i class="fa fa-clock" aria-hidden="true"></i><span class="gridSpan">Save time and energy keeping your employees up to date</span>
        </div>
    </section>
</main>
      
      


<%- include('partials/footer') -%>