<%- include('partials/header') -%>


<nav>
    <div class="ham-menu" id="ham-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="menu">
        <li class="menu-item"><a href="#about-us">About Us</a></li>
        <li class="menu-item"><a href="#features">Features</a></li>
        <li class="menu-item"><a href="#our-audience">Who we serve</a></li>
        <li class="menu-item"><a href="/signup">Get Started</a></li>
        <li class="menu-item"><a href="/login">Already signed up?</a></li>
        <li class="menu-item"><a href="/companyLogin">Company Login</a></li>
        <li class="menu-item"><a href="/registerCompany">Register Your Company</a></li>
    </ul>
    <div class="off-screen-menu" id="off-screen-menu">
        <button class="close-menu" id="close-menu">X</button>
        <ul>
            <li class="menu-item"><a href="#about-us">About Us</a></li>
            <li class="menu-item"><a href="#features">Features</a></li>
            <li class="menu-item"><a href="#our-audience">Who we serve</a></li>
            <li class="menu-item"><a href="/login">Already signed up?</a></li>
            <li class="menu-item"><a href="/signup">Get Started</a></li>
            <li class="menu-item"><a href="/companyLogin">Company Login</a></li>
            <li class="menu-item"><a href="/registerCompany">Register Your Company</a></li>
        </ul>
    </div>
</nav>





<main>
    <section class="parallax-main-image">
        <section class="landing-page-content">
            <h1 class="title-heading">Construx</h1>
            <span class="tagline">Keep your team on the same page</span>
        </section>
    </section>

    
        <section class="mission-statement">
            <span>Your project, up to date, when you want it to be.</span>
        </section>


    <section id="features" class="grid-container">
        <div class="grid-item">
            <i class="fa fa-users" aria-hidden="true"></i><span class="grid-span">Have all of your users stay up to date with project tasks.</span>
        </div>
        <div class="grid-item">
            <i class="fa fa-file" aria-hidden="true"></i><span class="grid-span">Give your employees the ease of access with one-click file downloads.</span>
        </div>
        <div class="grid-item">
            <i class="fa fa-check-square" aria-hidden="true"></i><span class="grid-span">Checklists to stay on track with your objectives in the field.</span>
        </div>
        <div class="grid-item">
            <i class="fa fa-clock" aria-hidden="true"></i><span class="grid-span">Save time and energy keeping your employees up to date.</span>
        </div>
    </section>

    <section  id="our-audience" class="disclaimer ">
        <h2 class="about-us-title">Our Audience</h2>
        <p>If you have a small business that performs repetitive tasks in different locations that may not have senior over-sight, this application would be perfect. Other project management apps are too inundated with features that you or your co-workers would not even use. We strive to be simple, easy to use, and straight forward to streamline information from the field to the office.</p>
    </section>

    <section class="about-us-parallax-image">
        <section id= "about-us" class="about-us">
            <h2 class="about-us-title">About Us</h2>
            <p>This web application was developed to help my co-workers in the field with struggles that we noticed in the field. With project rotation and daily duties were constantly changing we had to adapt. The struggles included our field representatives not having the most up to date plans, missing plans, or we were missing inspections. This causes big problems and I didn't want to keep having the same issues.</p>
            <br>
            <p>In an effort to save time, this website gives the users simpler way to stay up to date with any kind of project changes. This application removes the need for physical paper hand-offs and lowers the liability of unfulfilled paperwork.</p>
        </section>
    </section>


    <section id="disclaimer" class="disclaimer">
        <h2 class="about-us-title">DISCLAIMER</h2>
        <p>Thank you for participating in the beta testing of our application. We are committed to providing you with the best possible experience, and your involvement is crucial to achieving this goal. However, please be aware of the following:</p><br>
            <ul>
                <li><b>Beta Phase</b>: Our application is currently in its beta phase, which means it is still under development and refinement. During this period, you may encounter bugs or unexpected issues. We appreciate your understanding and patience as we work to improve the application.</li><br>
            
                <li><b>Data Integrity</b>: While we prioritize the security and integrity of your data, there is a possibility of data loss or corruption due to external factors such as database issues or AWS-related problems. We strongly recommend that you maintain backups of any important data.</li><br>
            
                <li><b>Liability</b> Please note that we cannot be held liable for any data loss, corruption, or other issues that may arise during this beta phase. By using the application, you acknowledge and accept this limitation of liability.</li><br>
            
                <li><b>Feedback</b> Your feedback is invaluable to us. If you encounter any issues or have suggestions for improvement, please do not hesitate to contact us. Your input helps us to enhance the application and provide a better experience for all users.</li><br>
            </ul>
                <span>Thank you for your participation and support.</span>
    </section>



</main>
      
      


<%- include('partials/footer') -%>