<%- include('partials/header') -%>


<nav>
    <div class="ham-menu" id="ham-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="menu">
        <li class="menu-item"><a href="#about-us">About Us</a></li>
        <li class="menu-item"><a href="#features">Features</a></li>
        <li class="menu-item"><a href="#our-audience">Who we serve</a></li>
        <li class="menu-item"><a href="/signup">Get Started</a></li>
        <li class="menu-item"><a href="/login">Already signed up?</a></li>
        <li class="menu-item"><a href="/companyLogin">Company Login</a></li>
        <li class="menu-item"><a href="/registerCompany">Register Your Company</a></li>
    </ul>
    <div class="off-screen-menu" id="off-screen-menu">
        <button class="close-menu" id="close-menu">X</button>
        <ul>
            <li class="menu-item"><a href="#about-us">About Us</a></li>
            <li class="menu-item"><a href="#features">Features</a></li>
            <li class="menu-item"><a href="#our-audience">Who we serve</a></li>
            <li class="menu-item"><a href="/login">Already signed up?</a></li>
            <li class="menu-item"><a href="/signup">Get Started</a></li>
            <li class="menu-item"><a href="/companyLogin">Company Login</a></li>
            <li class="menu-item"><a href="/registerCompany">Register Your Company</a></li>
        </ul>
    </div>
</nav>


<main class="container">
    <div id="bio">
        <p>
            This section of the application will help guide you and help with navigating the application. A full demo-walkthrough can be found <a href="#">Here</a>.
        </p>
    </div>

    <ul id="get-started">
        <li><a href='#template-help'>Templates</a></li>
        <li><a href='#project-help'>Projects</a></li>
        <li><a href='#document-help'>Documents</a></li>
        <li><a href='#checklist-help'>Checklists</a></li>
    </ul>
    
    <div id="template-help">
        <h2>Here is how you make a template</h2>
        <p>
            Once you go to your "Template Creation Page", you can create an original template of any kind of checklist you need. You enter your task and any kind of references for that task. Below there is an "Add Field" button, so you may add as many fields as you need for your template.
        </p>
        <p>
            Once you create your new template, it will appear underneath the "Company Template" heading. This way you can see all of the templates that is associated with your company ID number you used to sign up with.
        </p>
        <p>
            Inside of each template you can click on the heading to expand to see all of the tasks that are inside. You can edit the task in-case the pages change by adding the content to the html form and then clicking "submit" below that.
        </p>
    </div>
    <div id="project-help">
        <h2>Here is how you make a Project</h2>
        <p>
            On your profile screen, there is a section on the left hand side where you can create your projects. Projects that you create will show up on the right hand side. Any project that was created by anybody else that shares the same company code as you, will show up on a seperate page when you click "view all projects".
        </p>

        <p>
            When you click on the project name on the right hand side of your profile, it will take you to that project. Once you are inside of the project you will find several options to add data to your project. You are able to download all of this information as a PDF but will look like a picture. I will get into more detail about the functionality.
        </p>
    </div>
    <div id="document-help">
        <h2>Here is how you make a Project</h2>
        <p>
            The document section takes in several different file types. The files types accepted are below the heading of "Document Section"
        </p>

        <p>
            PDF's are seperated from photos taken. Photos are placed at the bottom of the web page. To download either the photos or the documents you can click on the name of whatever you want to download.
        </p>
    </div>
    <div id="checklist-help">
        <h2>Here is how you make a Project</h2>
        <p>
            The document section takes in several different file types. The files types accepted are below the heading of "Document Section"
        </p>

        <p>
            PDF's are seperated from photos taken. Photos are placed at the bottom of the web page. To download either the photos or the documents you can click on the name of whatever you want to download.
        </p>
    </div>

    <div>
        <a class="btn btn-primary" href=" <%= previousPage %> ">Go Back</a>
    </div>
</main>
    

<%- include('partials/footer') -%>
