<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        
        <span>Existing User?</span>
        <a href="/login" class="col-3 btn btn-primary"> Login Here!</a>
        
        <span>Just starting out at a new company?</span>
        <a href="/signup" class="col-3 btn btn-primary"> Signup Here!</a>
    </div>

</main>
    

<%- include('partials/footer') -%>