<%- include('partials/header') -%>
    <main class="container">
        <div class="row justify-content-center">
            <section class="col-6 mt-5">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form action="/signup" method="POST">
                    <div class="mb-3">
                        <label for="userName" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="userName" name="userName">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="securityQuestion" class="form-label">Security Question</label>
                      <input type="text" class="form-control" id="securityQuestion" name="securityQuestion">
                    </div>
                    <div class="mb-3">
                      <label for="securityAnswer" class="form-label">Security Answer</label>
                      <input type="password" class="form-control" id="securityAnswer" name="securityAnswer">
                    </div>
                    <div class="mb-3">
                      <label for="company" class="form-label">Company</label>
                      <input type="text" class="form-control" id="company" name="company">
                    </div>
                    <div class="mb-3">
                      <label for="phoneNumber" class="form-label">Phone Number</label>
                      <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber">
                    </div>
                    <div class="mb-3">
                      <label for="workEmail" class="form-label">Work Email</label>
                      <input type="text" class="form-control" id="workEmail" name="workEmail">
                    </div>
                    <div class="mb-3">
                      <label for="employeeIdNumber" class="form-label">Employee ID Number</label>
                      <input type="text" class="form-control" id="employeeIdNumber" name="employeeIdNumber">
                    </div>
                    <div class="mb-3">
                      <label for="companyIdNumber" class="form-label">Company ID Number</label>
                      <input type="text" class="form-control" id="companyIdNumber" name="companyIdNumber">
                      <span>Note**This number should be created by your employer and given to you. This will give you access to all of the company documents.</span>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                      </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </section>
        </div>
    </main>
    

<%- include('partials/footer') -%>