:root{
  --purple: #b6174b;/*Original-Amaranth Purple 400*/
  --green: #306b34;/*Original Dark Spring Green 300*/
  --gray: #1c5253;/*Original-Dark slate Gray 200*/
  --cream:#cbcec5;/*Original-Cream 890*/
  --mint: #c3eb78;/*Original-Mindaro 700*/
  --white: #ffffff;
  --black: #000000;
  };

.rubik-bold{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
}

.rubik-doodle-shadow-regular {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}


body{
    background-color: var(--cream);
    font-style: var(--gray);
    font-family: "Rubik", Tahoma, sans-serif;
}

.text-mint {
  color: var(--mint);
}
.text-green {
  color: var(--green);
}
.text-gray {
  color: var(--gray);
}
.text-cream {
  color: var(--cream);
}
.text-purple {
  color: var(--purple);
}

.bg-mint{
  background-color: var(--mint);
}
.bg-green{
  background-color: var(--green);
}
.bg-gray{
  background-color: var(--gray);
}
.bg-cream{
  background-color: var(--cream);
}
.bg-purple{
  background-color: var(--purple);
}

.textBorder-mint{
  -webkit-text-stroke: 2px var(--mint);
}
.textBorder-green{
  -webkit-text-stroke: 2px var(--green);
}
.textBorder-gray{
  -webkit-text-stroke: 2px var(--gray);
}
.textBorder-cream{
  -webkit-text-stroke: 2px var(--cream);
}
.textBorder-purple{
  -webkit-text-stroke: 1px var(--purple);
}
.textBorder-black{
  -webkit-text-stroke: 1px black;
}

.border-mint{
  border: solid 2px var(--mint);
}
.border-green{
  border: solid 2px var(--green);
}
.border-gray{
  border: solid 2px var(--gray);
}
.border-cream{
  border: solid 2px var(--cream);
}
.border-purple{
  border: solid 2px var(--purple);
}
.border-black{
  border: solid 2px black;
}

.btn-primary{
  font-family: 'Rubik';
  background-color: var(--green);
  border-radius: 10px;
  border-color: var(--gray);
  border-width: 3px;
  color: var(--mint);
}

.btn-primary:hover{
  background-color: var(--mint);
  border-color: var(--green);
  color: #1c5253;
}

.btn-secondary{
  background-color: var(--purple);
  color: var(--white);
  border-radius: 10px;
  border-width: 3px;
  width: 50%;
  align-items: center;
  font-size: 75%;
}

.form-control{
    background-color: var(--cream);
}

.grid {
   display: flex;
}

.templateHeading{
  font-size: 30px;
}
.templateTask{
  font-size: 18px;
  list-style: disc;
}

nav{
  font-size: 18px;
  background-color: var(--gray);
  padding: 2% 0;
}

.menu{
  display: flex;
  justify-content: end;
}
.menu li {
  display: inline; /* Makes the list items display inline */
  margin-right: 10px; /* Adds some spacing between links */
  margin: 0 2%;
  color: var(--mint);
  text-decoration: underline;
}

.menu a:hover{
  color: #b6174b;
}


h1{
  font-size: 8rem;
  justify-self: left;
}


/* Grid styling for home page */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--purple);
  padding: 10px;
}
.grid-item {
  background-color: rgba(115, 212, 69, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.gridSpan{
  font-size: 28px;
  padding: 2% 4%;

}

.parallax-image{
  background-image: url('../img/Construx\ Image\ -\ Dark.png');
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}

.landingPageContent {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin: 0 0 0 10%;
  padding: 50px;
  background-color: #cbcec5ed;
  width: 43%;
  border-radius: 5%;
}

.our-mission{
  height: 500px;
}